// Can't use the nice '~react-md/src/scss/react-md' since this isn't being bundled with webpack
@import '~react-md/src/scss/react-md';

// Variable overrides
$md-primary-color: $md-grey-900;
$md-secondary-color: $md-blue-a-200;
$md-background--primary: $md-grey-200;
$md-tertiary-color: $md-green-200;

@include react-md-everything;

.list-subheader div {
  font-weight: 500;
  font-size: 14px;
}

.list-services-item-button div {
  padding: 0px;
}

html, html > body, html > body > #root, html > body > #root > div, html > body > #root > div > div,
html > body > #root > div > div > #main-content {
  height: 100%;
}

body {
  overflow: hidden;
}